header{
    font: 14px arial, sans-serif;
    color: #f8fff9;
    background-color: #000000;
    display: flex;
    margin: 1px;
    flex-direction: row;
    padding: -10px;
}
h1#title{
    margin-left: 10px;
}
body{
    background-color: #f0e78c;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.ul_tit{
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    margin-left: 700px;
    margin-top: 30px;
}
.li_tit{
    float: right;
}
.li_tit a{
    color: #f0e78c;
    text-decoration: none;
    padding: 10px;
}
section#camera{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    margin-left: 6px;
}
.top-left{
    position: absolute;
    top: 8px;
    left: 16px;
}
div#prompt{
    text-align: left;
    margin-left: 50px;
}
.slider {
    -webkit-appearance: none;
    width: 700px;
    height: 5px;
    border-radius: 5px;  
    background: #9F978C;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    border: 2px solid #9F978C;
    background: #EFF1F0;
    cursor: pointer;
}
div#direction{
    text-align: center;
}
.button{
    border-style: outset;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 10px 2px;
    cursor: pointer;
    padding: 30px 60px;
}
.button1{
    background-color: #EA967A;
}
.button2{
    background-color: #FE0000
}
.cambutton{
    border-style: outset;
    background-color: #F8DCB4;
    color: #2C4B3C;
    font-weight: bold;
    padding: 3px 20px;
    cursor: pointer;
}
.ul_stat{
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
    
}
.sta_text{
    float: left;
    padding: 0px 2px;
    color: #6C6B18;
    font-weight: bold;
}
.sta_tus{
    font-weight: bold;
    color: #868D30;
}
.imgs{
    float: right;
}
.but_img{
    background: none;
    border: none;
    cursor: pointer;
}
